/* Design colors and font styles */
$dark-bg: #1f2937;
$white: #f9faf8;
$gray: #e5e7eb;
$blue: #3882f6;
$black: #1f2937;

$body-text: 18px;
$main-text: 48px;
$logo-text: 24px;
$header-text: 36px;

/* Boilerplate styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: $body-text;
}

header {
    background-color: $dark-bg;
    color: $white;

    a {
        color: inherit;
        text-decoration: none;
    }
}

img {
    min-width: 100%;
    max-width: 100%;
}

#menu-toggle {
    height: 50px;
    width: 50px;
    background-color: $black;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        justify-content: space-between;

        #logo {
            font-size: $logo-text;
        }
    }

    ul {
        list-style: none;
    }

    ul.closed {
        display: none;
    }
}

/* Main content */
main {
    .figures {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;

        figure {
            img {
                width: 50vw;
                height: 50vw;
                object-fit: cover;
                object-position: center center;
            }
        }
    }

    .quote {
        background-color: $gray;
        span {
            display: block;
            text-align: right;
        }
    }

    .cta {
        background-color: $blue;
        color: $white;
        
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

footer {
    background-color: $dark-bg;
    color: $white;
}

@media (min-width: 480px) {
    #menu-toggle {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;

        .top {
            flex-grow: 1;
        }

        ul.closed {
            display: flex;
            justify-content: space-evenly;
            flex-grow: 1;
        }
    }

    #hero {
        display: flex;

        * {
            max-width: 50%;
        }
    }

    main {
        .figures {
            figure {
                min-width: 25%;
            }
        }

        .cta {
            display: flex;
        }
    }
}