/* Design colors and font styles */
$dark-bg: #1f2937;
$white: #f9faf8;
$white-secondary: #e5e7eb;
$blue: #3882f6;
$black: #1f2937;

$body-text: 18px;
$main-text: 48px;
$logo-text: 24px;
$header-text: 36px;
